
						<div class="row">
							<div class="col-md-4">
								<div class="card card-stats card-warning">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-user"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
														<h1 class="card-title">1,294</h1>
													<p class="card-category">Friends</p>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card card-stats card-success">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-group"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
														<h1 class="card-title">2</h1>
													<p class="card-category">Groups</p>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-md-4">
								<div class="card card-stats card-primary">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-check-circle"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
														<h1 class="card-title">1,294</h1>
													<p class="card-category">Orders</p>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Latest Orders</h4>
										<p class="card-category">The latest 5 orders made by you</p>
									</div>
									<div class="card-body">
											<table class="table table-striped mt-3">
													<thead>
													
													</thead>
													<tbody>
														<tr>
															<td><i class="la la-truck"></i></td>
															<td><b>Lunch</b>  from <b>Mac</b></td>
															<td><i class="la la-calendar"></i> 12/2/2019</td>
														</tr>
														<tr>
																<td><i class="la la-truck"></i></td>
																<td><b>breakfast</b>  from <b>KFC</b></td>
																<td><i class="la la-calendar"></i> 16/2/2019</td>
															</tr>
															<tr>
																	<td><i class="la la-truck"></i></td>
																	<td><b>breakfast</b>  from <b>KFC</b></td>
																	<td><i class="la la-calendar"></i> 16/2/2019</td>
																</tr>
													
													</tbody>
												</table>
									</div>
						
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">Friends Activity</h4>
										<p class="card-category">
										You can keep up with your friends activity</p>
									</div>
									<div class="card-body">
											<table class="table table-striped mt-3">
													<thead>
													
													</thead>
													<tbody>
														<tr>
															<td><i class="la la-user"></i></td>
															<td><b>Hossam</b> has created and order for <b>dinner</b> from <b>Mac</b></td>
														</tr>
														<tr>
																<td><i class="la la-user"></i></td>
																<td><b>Ahmed</b> has created and order for <b>breakfast</b> from <b>AhlElsham</b></td>
															</tr>
													</tbody>
												</table>
									</div>
								</div>
							</div>
