<p id="notice"><%= notice %></p>

<p>
  <strong>Seen:</strong>
  <%= @user_notification.seen %>
</p>

<%= link_to 'Edit', edit_user_notification_path(@user_notification) %> |
<%= link_to 'Back', user_notifications_path %>
